/* Botón de cambio de tema */
.theme-toggle-button {
  position: fixed; /* Posición fija para mantener el botón en la misma ubicación */
  bottom: 20px;    /* Ajusta la distancia desde el borde inferior */
  right: 20px;     /* Ajusta la distancia desde el borde derecho */
  background-color: #eaeaea; /* Color de fondo del botón */
  border: none;    /* Sin borde */
  border-radius: 50%; /* Bordes redondeados para hacerlo circular */
  width: 40px;     /* Ancho del botón */
  height: 40px;    /* Alto del botón */
  display: flex;   /* Flexbox para centrar el contenido */
  align-items: center; /* Alinea verticalmente al centro */
  justify-content: center; /* Alinea horizontalmente al centro */
  font-size: 20px; /* Tamaño del texto */
  cursor: pointer; /* Cursor de puntero en hover */
  transition: background-color 0.3s; /* Transición suave para el cambio de color de fondo */
  z-index: 1000;   /* Asegura que el botón esté por encima de otros elementos */
}

.theme-toggle-button:hover {
  background-color: #dcdcdc; /* Color de fondo en hover */
}

.theme-toggle-button:active {
  background-color: #c0c0c0; /* Color de fondo en estado activo */
}

/* Estilos del modo claro */
.light-mode {
  background-color: #ffffff;
  color: #000000;
}

.light-mode .login-container {
  background-color: #ffffff;
}

.light-mode .login-input,
.light-mode .login-button {
  border: 1px solid #ddd;
}

.light-mode .login-button {
  background-color: #007bff;
}

.light-mode .login-button:hover {
  background-color: #0056b3;
}

.light-mode .login-button:active {
  background-color: #004080;
}

.light-mode .error-message {
  color: #e74c3c;
}

/* Estilos del modo oscuro */
.dark-mode {
  background-color: #1f1f1f;
  color: #eaeaea;
}

.dark-mode .login-container {
  background-color: #2c2c2c;
}

.dark-mode .login-input {
  background-color: #333;
  border: 1px solid #555;
}

.dark-mode .login-button {
  background-color: #1a73e8;
  color: #ffffff;
}

.dark-mode .login-button:hover {
  background-color: #0f66d4;
}

.dark-mode .login-button:active {
  background-color: #0d5bb0;
}

.dark-mode .error-message {
  color: #f76c6c;
}
